body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
}
#main {
    height: 100%;
    /* flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
}
#link {
    width: 10%;
    /* flex parent */
    display: flex;
    align-items: center;

}
#link > img {
    height: 100%;
    width: 100%;
    transition: opacity 3s;
}
#link:hover #chad {
    opacity: 0%;
}
#link:hover #other {
    opacity: 100%;
}
#other {
    opacity: 0%;
    position: relative;
    left: -100%;
}
#uwuClickMe {
    position: absolute;
    z-index: 100;
    background-color: white;
    height: 100%;
    width: 100%;
    /* flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
}